<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="modulaImportConString" value="Server=FAC-STGE-DBAX02\STAGEDB;Database=HOST_IMPEXP;User Id=ImportModula;Password=123456"/>-->
    <add key="ConString" value="Server=172.17.7.123;Database=HWATT;User Id=hanvon;Password=hanvon"/>
    <!--Windows Service interval in minutes-->
    <add key="interval" value="5"/>
    <add key="PreviousMinutesToInclude" value="-30"/>
    <add key="StartBufferHours" value="-6"/>
    <add key="EndBufferHours" value="2"/>
    <add key="AimsDatasource" value="Provider=Microsoft.Jet.OLEDB.4.0;User ID=Admin;Data Source=\\MDAEMON-SRVR-AC\HR Folder\PERS\PERSL.MDB;Mode=Share Deny None;Jet OLEDB:Database Password=@cmc@mis2015*;"/>
    <add key="TextDatasource" value="DSN=textfiles32;Dbq=txtFilesFolder;"/>
    <add key="OdbcFilesFolder" value="Y:\"/>
    <add key ="AttendanceDownloadDays" value="10"/>
    <add key="Company" value="ACMC,KAB"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_EmpTimeCardService" maxReceivedMessageSize="1965536" sendTimeout="00:10:00"  receiveTimeout="00:10:00" />
      </netTcpBinding>
    </bindings>
        <!--http://FAC-PROD-AX03:8101/DynamicsAx/Services/AttendanceServices-->
      <!--http://FAC-AX01-TE:8101/DynamicsAx/Services/AttendanceServices-->
    <client>
      <endpoint address="net.tcp://fac-prod-ax03:8201/DynamicsAx/Services/AttendanceServices"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_EmpTimeCardService"
          contract="AttendanceServices.EmpTimeCardService" name="NetTcpBinding_EmpTimeCardService">
        <identity>
          <userPrincipalName value="ax2@kabholding.com" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>