<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="connBiostar" connectionString="Server=FAC-PROD-VMHS\PRODALL,14433;Initial Catalog=biostar_TA;User Id=Biostar;Password=biostar123;" providerName="System.Data.SqlClient"></add>
    <add name="connHanvon" connectionString="Server=FAC-PROD-VMHS\PRODALL,14433;Database=HWATT;User Id=hwatt;Password=hwatt!@#;" providerName="System.Data.SqlClient"/>
    <add name="connBiotime" connectionString="Server=FAC-BIO-SRV;Initial Catalog=zkbiotime;User Id=biostar;Password=Biostar123;" providerName="System.Data.SqlClient"></add>
  </connectionStrings>
  <appSettings>
    <!--Windows Service interval in minutes-->
    <add key="interval" value="2"/>
    <add key="PreviousMinutesToInclude" value="-30"/>
    <add key="StartBufferHours" value="-1"/>
    <add key="EndBufferHours" value="2"/>
    <add key="AimsDatasource" value="Provider=Microsoft.Jet.OLEDB.4.0;User ID=Admin;Data Source=\\MDAEMON-SRVR-AC\HR Folder\PERS\PERSL.MDB;Mode=Share Deny None;Jet OLEDB:Database Password=@cmc@mis2015*;"/>
    <add key="AttendanceTable" value="Server=FAC-PROD-VMHS\PRODALL,14433;Database=Attendance;User Id=AttendanceUser;Password=123456"/>
    <add key="TextDatasource" value="DSN=textfiles64;Dbq=txtFilesFolder;"/>
    <add key="OdbcFilesFolder" value="Y:\"/>
    <add key="AttendanceDownloadDays" value="10"/>
    <add key="Company" value="ACMC"/>
    <add key="WhichDevice" value="Biotime"/> <!--Values are: Hanvon, NewSys, Textfile, Biostar, Biotime-->
    <add key="BiostarAutoDevice" value="false"/>
    <add key="ipAddresses" value="172.17.5.4,172.17.5.5,172.17.5.6"/> <!--Comma seperated IP addresses for Biostar devices-->
    <add key="port" value="51212"/>    <!--Port for all Biostar Devices-->
    <add key="hostIpAddr" value="172.17.5.4"/>
    <add key="BiostarImagesFolder" value="d:\BiostarImg\"/>
    <add key="BiotimeSharedFolder" value="\\FAC-BIO-SRV\upload\"/>
    <add key="CheckSizeUpload" value="10"/> <!--Number of attendance records to upload at one time-->
  </appSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
