<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /> 
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_EmpTimeCardService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://acmcuat.sandbox.operations.dynamics.com/soap/services/AttendanceServices"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_EmpTimeCardService"
                contract="AttendanceServices.EmpTimeCardService" name="BasicHttpBinding_EmpTimeCardService" />
        </client>
    </system.serviceModel>
</configuration>
